<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.security.MemberMapper">

	<resultMap id="MemberResultMap"
		type="com.example.board.dto.UsersDto">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="role" column="role"
			typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
	</resultMap>

	<select id="findByUsername" resultMap="MemberResultMap">
		SELECT id, username, password, email, role
		FROM users
		WHERE username = #{username}
	</select>

</mapper>